:root {
  --primary-color: #f0b90b;
  --primary-button-color: #fcd535;
  --default-color: #181a20;
  --secondary-color: #2b3139;
  --card-color: #1e2329;
  --border-color: #2b3139;
  --title-color: #eaecef;
  --text-color: #848e9c;

  --disabled-color: #5e6673;
  --disabled-bg: #2b3139;

  --wraning-color: #ffd21e;
  --danger-color: #f04248;
  --success-color: #00df80;

  --container-width: 1480px;
}
